java={{ nifi_java }}
run.as={{ nifi_run_as }}
preserve.environment={{ nifi_preserve_environment }}
lib.dir={{ nifi_lib_dir }}
conf.dir={{ nifi_conf_dir }}
graceful.shutdown.seconds={{ nifi_graceful_shutdown_seconds }}
java.arg.1={{ nifi_java_arg_1 }}
java.arg.2={{ nifi_java_arg_2 }}
java.arg.3={{ nifi_java_arg_3 }}
java.arg.5={{ nifi_java_arg_5 }}
java.arg.6={{ nifi_java_arg_6 }}
java.arg.14={{ nifi_java_arg_14 }}
java.arg.15={{ nifi_java_arg_15 }}
java.arg.16={{ nifi_java_arg_16 }}
java.arg.17={{ nifi_java_arg_17 }}
java.arg.20={{ nifi_java_arg_20 }}
notification.services.file={{ nifi_notification_services_file }}
notification.max.attempts={{ nifi_notification_max_attempts }}
nifi.bootstrap.sensitive.key={{ nifi_bootstrap_sensitive_key }}
java.arg.curator.supress.excessive.logs={{ nifi_java_arg_curator_supress_excessive_logs }}
nifi.bootstrap.listen.port={{ nifi_bootstrap_listen_port }}