nifi_java="{{ nifi_java }}"
nifi_run_as="{{ nifi_run_as }}"
nifi_preserve_environment="{{ nifi_preserve_environment }}"
nifi_lib_dir="{{ nifi_lib_dir }}"
nifi_conf_dir="{{ nifi_conf_dir }}"
nifi_graceful_shutdown_seconds="{{ nifi_graceful_shutdown_seconds }}"
nifi_java_arg_1="{{ nifi_java_arg_1 }}"
nifi_java_arg_2="{{ nifi_java_arg_2 }}"
nifi_java_arg_3="{{ nifi_java_arg_3 }}"
nifi_java_arg_5="{{ nifi_java_arg_5 }}"
nifi_java_arg_6="{{ nifi_java_arg_6 }}"
nifi_java_arg_14="{{ nifi_java_arg_14 }}"
nifi_bootstrap_sensitive_key="{{ nifi_bootstrap_sensitive_key }}"
nifi_java_arg_15="{{ nifi_java_arg_15 }}"
nifi_java_arg_16="{{ nifi_java_arg_16 }}"
nifi_java_arg_17="{{ nifi_java_arg_17 }}"
nifi_java_arg_20="{{ nifi_java_arg_20 }}"
nifi_notification_services_file="{{ nifi_notification_services_file }}"
nifi_notification_max_attempts="{{ nifi_notification_max_attempts }}"
nifi_java_arg_curator_supress_excessive_logs="{{ nifi_java_arg_curator_supress_excessive_logs }}"
nifi_bootstrap_listen_port="{{ nifi_bootstrap_listen_port }}"
