{{ nifi_ansible_yml_managed_banner }}

services:

  {{ nifi_name }}:
    image: {{ nifi_image }}
{% if nifi_hostname %}
    hostname: {{ nifi_hostname }}
{% endif %}
    restart: {{ nifi_docker_restart_policy }}
    networks:
      - nifi_network
    volumes:
      - {{ nifi_data_dir }}/conf:/opt/nifi/nifi-current/conf
      - {{ nifi_data_dir }}/extensions:/opt/nifi/nifi-current/extensions
      - {{ nifi_data_dir }}/database_repository:/opt/nifi/nifi-current/database_repository
      - {{ nifi_data_dir }}/flowfile_repository:/opt/nifi/nifi-current/flowfile_repository
      - {{ nifi_data_dir }}/content_repository:/opt/nifi/nifi-current/content_repository
      - {{ nifi_data_dir }}/provenance_repository:/opt/nifi/nifi-current/provenance_repository
      - {{ nifi_data_dir }}/state:/opt/nifi/nifi-current/state
      - {{ nifi_data_dir }}/logs:/opt/nifi/nifi-current/logs
      - {{ nifi_data_dir }}/nar_extensions:/opt/nifi/nifi-current/nar_extensions
{% for item in nifi_extra_docker_volumes %}
      - {{ item }}
{% endfor %}
{% if nifi_ports | length > 0 %}
    ports:
{% for port in nifi_ports %}
      - {{ port }}
{% endfor %}
{% endif %}
    environment:
      ANSIBLE_ROLE_NIFI: true
      NIFI_CLUSTER_IS_NODE: {{ nifi_cluster_is_node }}
      NIFI_CLUSTER_ADDRESS: {{ nifi_cluster_node_address }}
      NIFI_CLUSTER_NODE_PROTOCOL_PORT: {{ nifi_cluster_node_protocol_port }}
      NIFI_CLUSTER_NODE_PROTOCOL_MAX_THREADS: {{ nifi_cluster_node_protocol_max_threads }}
      KEYSTORE_PASSWORD: {{ nifi_security_keystorePasswd  }}
      TRUSTSTORE_PASSWORD: {{ nifi_security_truststorePasswd }}
      NIFI_ZK_CONNECT_STRING: {{ nifi_zookeeper_connect_string }}
      NIFI_ZK_ROOT_NODE: {{ nifi_zookeeper_root_node }}
      NIFI_ELECTION_MAX_WAIT: {{ nifi_cluster_flow_election_max_wait_time }}
{% if nifi_cluster_flow_election_max_candidates is defined %}
      NIFI_ELECTION_MAX_CANDIDATES: {{ nifi_cluster_flow_election_max_candidates }}
{% endif %}
{% if nifi_single_user_mode %}
      SINGLE_USER_CREDENTIALS_USERNAME: {{ nifi_single_user_credentials_username }}
      SINGLE_USER_CREDENTIALS_PASSWORD: {{ nifi_single_user_credentials_password }}
      NIFI_SECURITY_USER_AUTHORIZER: single-user-authorizer
      NIFI_SECURITY_USER_LOGIN_IDENTITY_PROVIDER: single-user-provider
{% endif %}
      
{% if nifi_initial_admin_identity is defined %}
      INITIAL_ADMIN_IDENTITY: {{ nifi_initial_admin_identity }}
{% endif %}

networks:
  nifi_network:
    name: {{ nifi_network }}
    external: true
